.center{
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}
#companyLogo > h1{
    margin-top:1em;
}

h2, h1{
    font-family: Fira Sans,sans-serif;
    color: #30364d;
    font-size: 3rem;
}
h2{
    text-decoration: underline;
    margin-left: 2vw;
    margin-right: 2vw;
}
span{
    font-size: 3rem;
}

li{
    font-family: Fira Sans,sans-serif;
    font-size: 2rem;
    color: #30364d;
    padding: 2vw;
}
.center > div{
    display: flex; 
    align-items: center;
}
#demo > img {
    width: 760px;
}
ul{
    margin:0px;
    width: 80vw;
}
ul > li > ul > li {
    padding: 0px;
}